/*********** DESKTOP *************/
@media (min-width: 1024px){

	.inizio p {
		padding: 30px 100px;
		color: black;
	}

/******** WORK EXPERIENCE **********/

	.work {
		padding: 80px 100px;
		/*position: relative;*/
	}
	
	.b1, .b2, .b3 {
		left: 50%;
		/*top: 30px;*/
	}
	
	.linea {
		display: initial;
	}
	
/******* SKILLS & KNOWLEDGE ********/

	.knowledge {
		padding: 50px 100px;
	}

	.skills p {
		margin: 20px 0px;
	}

/******** CONTACTS ********/

	.far, .fab {
		padding: 50px;
	}

}